html, body {
    scrollbar-color: transparent;
}

body {
    background-image: url('/image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'JetBrains Mono', monospace;
    padding: 20px;
    scrollbar-color: transparent;
}


.glassmorphism {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100%;
    padding: 30px;
  }
    
  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    .glassmorphism {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
  }

h1 {
    font-weight: bold;
}

.box {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}

label {
    margin-top: 16px;
    font-weight: bold;
    color: #ffffff;
}

.header {
    margin: 30px 0;
    color: #211f1f;
}

.url {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
}

.btn {
    margin: 20px 0;
    transition: 200ms;
}

.material-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.40rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #6bb1e7;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }
  
  .material-button:hover {
    background-color: #5993c0;
  }
  
  .material-button:active {
    background-color: #6bb1e7;
  }

.btn:hover {
    transform: scale(1.05);
}


#download:disabled {
    background-color: #5993c0;
    border-color: #5993c0;
}



@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.image-preview {
    position: relative;
    margin-top: 20px;
    height: 320px;
    width: 640px;
    overflow: hidden;
}

#img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#download {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.img-card {
    height: 260px;
    width: 580px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.card-content {
    margin: 1rem;
    height: 65%;
}

.title {
    font-size: 1.4rem;
}

.description {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.card-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.profile {
    border-radius: 50px;
    height: 45px;
    width: 45px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.red {
    background-color: #ff605c;
    height: 15px;
    width: 15px;
    border-radius: 50px;
}

.yellow {
    background-color: #ffbd44;
    height: 15px;
    width: 15px;
    border-radius: 50px;
}

.green {
    background-color: #00ca4e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
}

/* tokyo-night theme */

.tokyo-night {
    border: 1px solid #1e202e;
    background-color: #1e202e;
    color: #e0af68;
}

.tokyo-night-username {
    color: #0da0ba;
    font-weight: bold;
}

.tokyo-night-reponame {
    color: #f7768e;
}

.tokyo-night-description {
    color: #9AA5CE;
}

/* dracula theme */

.dracula {
    border: 1px solid #282a36;
    background-color: #282a36;
    color: #8be9fd;
}

.dracula-username {
    color: #ff79c6;
    font-weight: bold;
}

.dracula-reponame {
    color: #f1fa8c;
}

.dracula-description {
    color: #50fa7b;
}

/* monokai theme */

.monokai {
    border: 1px solid #2e2e2e;
    background-color: #2e2e2e;
    color: #e5b567;
}

.monokai-username {
    color: #6c99bb;
    font-weight: bold;
}

.monokai-reponame {
    color: #b05279;
}

.monokai-description {
    color: #b4d273;
}

/* one-dark theme */

.one-dark {
    border: 1px solid #282c34;
    background-color: #282c34;
    color: #e06c75;
}

.one-dark-username {
    color: #c678dd;
    font-weight: bold;
}

.one-dark-reponame {
    color: #61afef;
}

.one-dark-description {
    color: #98c379;
}

/* one-light theme */

.one-light {
    border: 1px solid #fafafa;
    background-color: #fafafa;
    color: #e06c75;
}

.one-light-username {
    color: #c678dd;
    font-weight: bold;
}

.one-light-reponame {
    color: #61afef;
}

.one-light-description {
    color: #98c379;
}

/* github-dark theme */

.github-dark {
    border: 1px solid #0d1117;
    background-color: #0d1117;
    color: #569ff0;
}

.github-dark-username {
    color: #e0af68;
    font-weight: bold;
}

.github-dark-reponame {
    color: #a11117;
}

.github-dark-description {
    color: #c6a8ff;
}

/* github-light theme */

.github-light {
    border: 1px solid #fafafa;
    background-color: #fafafa;
    color: #569ff0;
}

.github-light-username {
    color: #e0af68;
    font-weight: bold;
}

.github-light-reponame {
    color: #a11117;
}

.github-light-description {
    color: #c6a8ff;
}

/* night-owl-dark theme */

.night-owl-dark {
    border: 1px solid #011627;
    background-color: #011627;
    color: #d2cd79;
}

.night-owl-dark-username {
    color: #5a7cc2;
    font-weight: bold;
}

.night-owl-dark-reponame {
    color: #af86e1;
}

.night-owl-dark-description {
    color: #59c8c5;
}

/* night-owl-light theme */

.night-owl-light {
    border: 1px solid #fbfbfb;
    background-color: #fbfbfb;
    color: #d2cd79;
}

.night-owl-light-username {
    color: #5a7cc2;
    font-weight: bold;
}

.night-owl-light-reponame {
    color: #af86e1;
}

.night-owl-light-description {
    color: #59c8c5;
}

/* Nord Theme */

.nord {
    border: 1px solid #2e3440;
    background-color: #2e3440;
    color: #d8dee9;
}

.nord-username {
    color: #88c0d0;
    font-weight: bold;
}

.nord-reponame {
    color: #a3be8c;
}

.nord-description {
    color: #b48ead;
}

/* winter-is-coming theme */

.winter-is-coming {
    border: 1px solid #001629;
    background-color: #001629;
    color: #e4daa3;
}

.winter-is-coming-username {
    color: #00678e;
    font-weight: bold;
}

.winter-is-coming-reponame {
    color: #3b9d95;
}

.winter-is-coming-description {
    color: #aa7ccf;
}

/* solarized dark */

.solarized-dark {
    border: 1px solid #073642;
    background-color: #002b36;
    color: #839496;
}

.solarized-dark-username {
    color: #66d9ef;
    font-weight: bold;
}

.solarized-dark-reponame {
    color: #fdf4c4;
}

.solarized-dark-description {
    color: #93e1f5;
}

/* solarized light */

.solarized-light {
    border: 1px solid #b58900;
    background-color: #fdf6e3;
    color: #657b83;
}

.solarized-light-username {
    color: #2aa198;
    font-weight: bold;
}

.solarized-light-reponame {
    color: #cb4b16;
}

.solarized-light-description {
    color: #268bd2;
}

/* Dark Purple */

.dark-purple {
    border: 1px solid #332533;
    background-color: #332533;
    color: #ddd6e3;
}

.dark-purple-username {
    color: #e0d5ff;
    font-weight: bold;
}

.dark-purple-reponame {
    color: #ffb3e6;
}

.dark-purple-description {
    color: #a6bfff;
}

/* Retro-80s */

.retro-80s {
    border: 1px solid #555;
    background-color: #f0c84a;
    color: #333;
}

.retro-80s-username {
    color: #ff0080;
    font-weight: bold;
}

.retro-80s-reponame {
    color: #00ffff;
}

.retro-80s-description {
    color: #008000;
}
